<% # app/views/shared/_footer_component.html.erb %>
<footer
  class="border-t p-lg text-center flex items-center justify-center text-center"
>
  <div
    class="container mx-auto max-w-4xl px-4 py-6 text-center text-muted-foreground text-sm"
  >
    © <%= Time.current.year %> Tawanda Munongo. All rights reserved.
    <% # Links to Github/LinkedIn etc %>
    <p>
      All opinions are my own and <strong>do not</strong> reflect those of my employers - past,
      present, and future.
    </p>
  </div>
</footer>