<main class="content" role="main">
	<article class="post no-image">
		<div class="inner">

			<section class="post-content">
				<p>
                    I'm Tawanda. I'm a fullstack developer with a passion for self-hosting, distributed systems, and high-performance web apps.
                </p>
                <ul>
                    <li>
                        My lingos include PHP, Python, Java, and JS/TS. I've been known to write some Go and Rust, too.
                    </li>
                    <li>
                        In my down time, I read a lot of cyberpunk fiction and space operas. My favourites include: Foundation, Hyperion, and Neuromancer. I also watch a lot of movies, mostly sci-fi, comic book adaptations, and old gangster flicks.
                        <ul>
                            <li>
                                I mostly listen to classic rock: Pink Floyd, Metallica, AC/DC, Journey, Meatloaf, and Rush.
                            </li>
                        </ul>
                    </li>
                    <li>
                        currently daily driving NixOS
                    </li>
                    <li>
                        current location: Harare, Zimbabwe.
                    </li>
                    </ul>
                        <h3 id="other-publications">
                            Other Publications
                        </h3>
                    <p>
                        <a href="https://www.literaryheist.com/short-stories/whilst-on-vacation/?ref=tawandamunongo.dev" rel="noreferrer">
                            Whilst on Vacation - Literary Heist
                        </a>
                    </p>
                    <p>
                        <a href="http://bmpvoices.com/issue-3-robots/?ref=tawandamunongo.dev" rel="noreferrer">
                            I&apos;m a Doctor - Ab Terra Flash Fiction
                        </a>
                    </p>
                    <p>
                        <a href="https://www.rushmagazine.org/https/wwwrushmagazineorg/tawanda-eddie-munongo-fiction?ref=tawandamunongo.dev" rel="noreferrer">
                            What Are We - Rush Magazine
                        </a>
                    </p>
                    <h3 id="fresh-content-delivered">
                        Fresh content, delivered
                    </h3>
                    <p>
                        Stay up to date with new content sent straight to your inbox! No more worrying about whether you missed something because of a pesky algorithm or news feed.
                    </p>
                    <h3 id="support">
                        Support
                    </h3>
                    <p>
                        You can support my work by claiming your $200-worth of credits from Digital Ocean. It goes towards credits to keep this site up.
                    </p>
                    <p>
                        <a href="https://www.digitalocean.com/?refcode=a962576f5b50&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge">
                            <img src="https://web-platforms.sfo2.cdn.digitaloceanspaces.com/WWW/Badge%202.svg" alt="DigitalOcean Referral Badge" loading="lazy">
                        </a>
                    </p>
                <hr>
			</section>

		</div>
	</article>
</main>