<%# app/views/errors/not_found.html.erb %>

<div class="error-page retro-404">
  <h1 class="error-code">404</h1>
  <p class="error-message">PAGE NOT FOUND</p>
  <p class="error-description">
    ACCESS DENIED. LOCATION UNKNOWN.
    <br>
    RETURN TO BASE.
  </p>

  <p class="return-link">
    <%= link_to '>> GO BACK HOME <<', root_path %>
  </p>

  <%# Optional: Add a small retro graphic or text art here %>
  <%# <pre class="retro-ascii">
     _.-=-._
    /| o o |\
   | \  ^  / |
    \ '--' /
     `----'
  </pre> %>
</div>